* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(106, 106, 158);
    height: 100vh;
}

.comtainer {
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0.5);
    text-align: center;
    width: 350px;
    background-color: white;
    
}


.header {
    background-color: blue;
    padding: 15px;
    color: white;
    /* margin-bottom: 10px; */
}

.display {
    margin-bottom: 5px;
    position: relative;
}

#pass-input {
    width: 75%;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
}

#copy {
    position: absolute;
    right: 30px;
    top: 15px;
    background-color: blue;
    color: white;
    border: none;
    font-size: 1.2rem;
    width: 20%;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
}

.setting{
    margin-top: 10px;
    padding: 0 15px 7.5px 15px; 
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    
}

#generate{
    display: block;
    width: 100%;
 padding: 7.5px;
 border: none;
 outline: none;
 background-color: blue;
 color: white;
 font-size: 1.2rem;
 font-weight: bold;
}